body {
  background-color: #621402;
  color: #ffffff;margin: 0;
}
.container {
  min-width: 1170px;
  margin: auto;
}
.header {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.menu {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}
.menu-item {
  margin-right: 25px;
}
.menu-link {
  color: #ffffff;
  text-decoration: none;
}
.user {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.user-image {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}